.dashboard_top {
    background-color: #f8f9fa;
    border: 1px dashed red;
    height: 70px;
}

.dashboard_bottom {
    height: calc(100vh - 70px);
    /* border: 2px dashed black; */
}

.dashboard_bottom_left {
    border: 1px dashed yellow;
}

.dashboard_bottom_right {
    border: 2px dashed lime;
}

.dashboard_bottom_right_top {
    height: 40%;
}

.dashboard_bottom_right_bottom {
    height: 60%;
}

.side_bar {
    background-image: url('../img/sidebar-bg.png');
    background-color: #061e34;
    border: 1px dashed yellow;

}

aside span {
    font-size: 12px;
}

aside i {
    font-size: 12px;
}

.offcanvas.offcanvas-end {
    width: 100%;
}




/* Media queries */

/* md size 768px */
@media screen and (min-width: 768px) {
    /* Valutare se correggere a 20/80 */
    .dashboard_bottom_right_top {
        height: 15%;
    }
    
    .dashboard_bottom_right_bottom {
        height: 85%;
    }

    .offcanvas.offcanvas-end {
        width: 50%;
    }
}