.dashboard_top {
    background-color: #f8f9fa;
    /* border: 1px dashed red; */
    height: 70px;
}

.dashboard_bottom {
    height: calc(100vh - 70px);
    /* border: 2px dashed black; */
}

.side_bar .nav li:hover a {
    /* background-color: rgba(6, 30, 52, 0.5); */
    background-color: rgba(128, 128, 128, 0.5);
}

.dashboard_bottom_right {
    /* border: 2px dashed lime; */
    /* height: calc(100vh - 70px); */
}

.dashboard_bottom_right_top {
    height: 40%;
}

.dashboard_bottom_right_bottom {
    /* height: 60%; */
}

.side_bar {
    background-image: url('../img/sidebar-bg.png');
    background-color: #061e34;
    /* border: 1px dashed yellow; */

}

aside span {
    font-size: 12px;
}

aside i {
    font-size: 12px;
}

.offcanvas.offcanvas-end {
    width: 100%;
}




/* Media queries */

/* md size 768px */
@media screen and (min-width: 768px) {
    /* Valutare se correggere a 20/80 */
    .dashboard_bottom_right_top {
        height: 20%;
    }
    
    .dashboard_bottom_right_bottom {
        /* height: 80%; */
    }

    
}



/* lg size 992px */
@media screen and (min-width: 992px) {
    /* Valutare se correggere a 20/80 */
    .dashboard_bottom_right_top {
        height: 20%;
    }
    
    .dashboard_bottom_right_bottom {
        /* height: 80%; */
    }

    .offcanvas.offcanvas-end {
        width: 60%;
    }
}

/* xxl size 1400px */
@media screen and (min-width: 1400px) {
    /* Valutare se correggere a 20/80 */
    .dashboard_bottom_right_top {
        height: 15%;
    }
    
    .dashboard_bottom_right_bottom {
        /* height: 85%; */
    }
}